<nav class="navbar navbar-expand-lg navbar-light">
    <a href="#" class="navbar-brand ml-5 mr-5">MealApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" routerLink="/recipe">Recipes</a></li>
            <li class="nav-item "><a class="nav-link" routerLink="/shopping-list">Shopping List</a></li>
        </ul>
        <ul class="navbar-nav navbar-text mr-5">
            <li class="nav-item dropdown right">
                <a href="#" role="button" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li class="dropdown-item"><a class="dropdown-link" href="#">Save Data</a></li>
                    <li class="dropdown-item"><a class="dropdown-link" href="#">Fetch Data</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>