<div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">{{isloggedIn ? 'Login' : 'Sign uo'}}</button> | 
                <button class="btn btn-primary" (click)="onSwitchMode()">Switch to {{ isloggedIn ? 'Sign up' :'login'}}</button>
            </div>
        </form>
    </div>
</div>